{% extends 'base.html' %}

{% block title %}Bookings{% endblock %}

{% block content %}
<div x-data="{ bookings: [] }">
    <h1>User Bookings</h1>
    <a href="{% url 'book' %}">Book a seat</a>
    {% for booking in bookings %}
        <div>
            <h2>Event ID: {{ booking.event_id }}</h2>
            <p>ID: {{ booking.id }}</p>
            <p>Chairs: {{ booking.seats|join:", " }}</p>
            <p>Status: {{ booking.status }}</p>
            <p>
                <a
                    x-show="'{{ booking.invoice.id }}' !== 'None'"
                    href="{% url 'get_invoice' booking.invoice.id %}"
                >Invoice</a>  
            </p>
            <button @click="refreshBooking('{{ booking.id }}')">Refresh</button>
        </div>
    {% endfor %}
    <script>
        function refreshBooking(bookingId) {
            const url = "{% url 'refresh_booking_status' booking_id=0 %}".replace("0", bookingId)
            fetch(url, {
                method: 'POST',
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                }
            })
            .then(response => response.json())
            .then(data => {
                // Replace the updated entry in the bookings list
                const index = this.bookings.findIndex(booking => booking.id === bookingId);
                if (index !== -1) {
                    this.bookings.splice(index, 1, data.updated_booking);
                }
            })
            .catch(error => {
                console.error('Error refreshing booking:', error);
            });
        }
    </script>
</div>


{% endblock %}