{% extends 'base.html' %}

{% block title %}Book a Seat{% endblock %}

{% block content %}

<div x-data>
    <h1>Select an Event</h1>
    {% for event in events %}
    <div>
        <h2 x-text="'{{ event.EventName }}'"></h2>
        <button @click="$store.chairs.updateChairs({{ event.EventID }})">Select</button>
        <button 
            @click="$store.chairs.submitBooking({{ event.EventID }})"
            x-show="$store.chairs.getChairs({{ event.EventID }}).length !== 0"
            x-bind:disabled="$store.chairs.selectedChairs.length === 0"
        >Book Selected Chairs</button>
        <ul>
            <template x-for="chair in $store.chairs.getChairs({{ event.EventID }})">
                <li><label>
                    <input type="checkbox" x-on:click="$store.chairs.toggleChair(chair.ID)">
                    <span x-text="chair.SeatNumber"></span>
                </label></li>
            </template>
        </ul>
        
    </div>
    {% endfor %}
</div>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('chairs', {
            chairs: [],
            getChairs(EventID) {
                console.log(this.chairs.filter(e => e.EventID === EventID))
                return this.chairs.filter(e => e.EventID === EventID)
            },
            updateChairs(EventID) {
                const url = "{% url 'get_chairs_status' event_id=0 %}".replace("0", EventID)
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        // Update chairs list
                        this.chairs = data.chairs_status
                    })
                    .catch(error => {
                        console.error('Error fetching chairs:', error);
                });
            },

            selectedChairs: [],
            toggleChair(chairId) {
                chairWithTheSameID = this.selectedChairs.filter(chair => chair.ID === chairId)
                if (chairWithTheSameID.length !== 0) {
                    this.selectedChairs = this.selectedChairs.filter(item => item.ID !== chairId);
                } else {
                    this.selectedChairs.push(this.chairs.find(c => c.ID === chairId));
                }
            },
            submitBooking(EventID) {
                const url = "{% url 'book' %}"
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: JSON.stringify({
                        event_id: EventID,
                        seats: this.selectedChairs.map(c => c.SeatNumber),
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    // Handle the response, maybe show a success message
                    console.log(data);
                    this.selectedChairs = []; // Clear selected chairs after successful booking
                })
                .catch(error => {
                    // Handle any errors
                    console.error('Error:', error);
                });
            }
        })
    })
</script>

{% endblock %}